# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
/x64/
/Firelight/x64/
/FirelightEngine/x64/
/FirelightEditor/x64/
/x64/Debug/*.pdb
/x64/Debug/*.obj
/x64/Debug/*.ilk
/x64/Debug/*.exe
/x64/Debug/UnitTests.exp
/TestGame/x64/
/UnitTests/x64/
/FirelightEngine/x64/
/UnitTests/x64/

# Allow
!/Firelight/Resources/*.obj

!/x64/Debug/assimp-vc140-mt.dll
!/x64/Debug/D3DCompiler_42.dll
!/x64/Debug/D3DX9_42.dll

!/Libs/Shared/assimp-vc140-mt.lib
!/Libs/x64/Debug/DirectXTK.lib
!/Libs/x64/Release/DirectXTK.lib
!/Libs/x86/Debug/DirectXTK.lib
!/Libs/x86/Release/DirectXTK.lib
!/Libs/x64/Debug/fmod_vc.lib
!/Libs/x64/Release/fmod_vc.lib
!/Libs/x64/Debug/fmodL_vc.lib
!/Libs/x64/Release/fmodL_vc.lib
!/Libs/x64/Debug/fmodstudio_vc.lib
!/Libs/x64/Release/fmodstudio_vc.lib
!/Libs/x64/Debug/fmodstudioL_vc.lib
!/Libs/x64/Release/fmodstudioL_vc.lib