# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.vs/
/x64/Debug/*.pdb
/x64/Debug/*.obj
/x64/Debug/*.ilk
x64/Debug/*.exe

/TestGame/x64/
/FirelightEngine/x64/
/UnitTests/x64/

# Allow
!/Firelight/Resources/*.obj

!/x64/Debug/assimp-vc140-mt.dll
!/x64/Debug/D3DCompiler_42.dll
!/x64/Debug/D3DX9_42.dll

!/Libs/Shared/assimp-vc140-mt.lib
!/Libs/x64/Debug/DirectXTK.lib
!/Libs/x64/Release/DirectXTK.lib
!/Libs/x86/Debug/DirectXTK.lib
!/Libs/x86/Release/DirectXTK.lib